.data{
    width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(250, 155, 138);
    text-align: center;
    font-size: 40px;
    
}
*{
    margin: 0;
    padding: 0;
}
.btn{
  text-align: center;

   justify-content: center;
   align-items: center;
   margin: 5px;
   padding: 10px;
   cursor: pointer;


}